
@{
    Layout = null;

    var dizi = (int[])ViewData["numbers"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewData["message"]

        <br />
        @ViewBag.MessageV

        <br />

       @foreach (var number in dizi)
       {
           @number

           <br />
       }

        @if (TempData["message"] !=null)
        {
            @TempData["message"]
        }
       
    </div>
</body>
</html>
