
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("MultpleAction","Home"))
    {
    <div> 
        <td><input type="checkbox" name="ids" value="product.id"/></td>
        <table class="table">
            <tfoot>
                <tr>
                    <td colspan="6"><input type="submit" name="delete" value="Delete" class="btn btn-danger pull-right" onclick="return confirm("Emin misin ?")" />
                    <input type="submit" value="Export" name="export" class="btn btn-info" />
                    </td>
                     
                </tr>
            </tfoot>
        </table>
    </div>
    }
</body>
</html>
