
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>}
@section page {
    <b>BELHANDA</b>
    }